<!doctype html>
<html>
<head>
<meta charset="utf-8">
<style>
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #666;
  margin: 10px 13px 10px 13px;
}
::selection {
  background: rgba(0,0,0,.7);
  color: #fff;
}
::-moz-selection {
  background: rgba(0,0,0,.7);
  color: #fff;
}
a {
  color: #0069d6;
}
a:hover {
  color: #0050a3;
  text-decoration: none;
}
a img {
  border: none;
}
p {
  margin-bottom: 9px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #6c71c4;
  line-height: 36px;
}
h1 {
  margin-bottom: 18px;
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 13px;
}
hr {
  margin: 0 0 19px;
  border: 0;
  border-bottom: 1px solid #ccc;
}
blockquote {
  padding: 13px 13px 21px 15px;
  margin-bottom: 18px;
  font-family:georgia,serif;
  font-style: italic;
}
blockquote:before {
  content:"\201C";
  font-size:40px;
  margin-left:-10px;
  font-family:georgia,serif;
  color:#eee;
}
blockquote p {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 0;
  font-style: italic;
}
code, pre {
  font-family: Monaco, Andale Mono, Courier New, monospace;
}
code {
  background-color: #fee9cc;
  color: rgba(0, 0, 0, 0.75);
  padding: 1px 3px;
  border-radius: 3px;
}
em {
  font-style: normal;
  font-weight: bold;
  color: #555;
  border-radius: 3px;
  background-color: #fffdf7;
}
pre {
  background-color: #fffdf7;
  display: block;
  padding: 14px;
  font-size: 12px;
  margin: 0 0 18px;
  line-height: 15px;
  border: 1px solid #d9d9d9;
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre code {
  background-color: transparent;
  color: #bc670f;
  font-size: 12px;
}
li {
  margin-bottom: 5px;
}
@media screen and (min-width: 940px) {
  body {
    width: 900px;
    margin:10px auto;
  }
}

td, th {
  vertical-align: top;
  padding: 2px 6px;
}
h2 {
  margin-bottom: 10px;
}
table ul {
  margin: 0;
  padding: 0 0 0 0;
  list-style-type: none;
}
.required {
  background-color: #ff8000;
  color: white;
}
.optional {
  background-color: #5fce04;
  color: white;
}

td:last-child {
  max-width: 190px;
}
</style>
<title>南北阁 API 草案</title>
</head>

<body>
<h1>南北阁 API 草案</h1>

<h2>API 版本：2</h2>

<pre style="line-height: 20px;"><code>GET*</code>, <code>POST*</code>: need login
<code class="required">data_type</code>: required parameter
<code class="optional">data_type</code>: optional parameter
</pre>

<hr />

<h2>数据类型</h2>

<ul>
  <li><code>bool</code> true</li>
  <li><code>int</code> 31415926</li>
  <li><code>str</code> "this is a string"</li>
  <li><code>time</code> "2012-07-14 00:00:00"</li>
  <li><code>date</code> "2012-07-14"</li>  
</ul>

<hr />

<h2>TODO</h2>
<ul>
  <li>第三方登录</li>
  <li>评论小话</li>
</ul>

<hr />

<h2>/app/</h2>

<table>

<thead>
<tr>
<th align="left">Address</th>
<th align="left">Method</th>
<th align="left">Parameter</th>
<th align="left">Return</th>
<th align="left">Description</th>
</tr>
</thead>

<tbody>

<tr>
  <td align="left">version/api/</td>
  <td align="left"><code>GET</code></td>
  <td align="left">none</td>
  <td align="left"><pre>{
  "version": "9"
}</pre></td>
  <td align="left">API 版本。若大于客户端的 API 版本，须更新客户端。</td>
</tr>

<tr>
  <td align="left">version/android/</td>
  <td align="left"><code>GET</code></td>
  <td align="left">none</td>
  <td align="left">
<pre>{
  "stable": "0.618",
  "beta": "0.619"
}</pre>
  </td>
  <td align="left">最新的 Android 客户端版本。</td>
</tr>

<tr>
  <td align="left">version/ios/</td>
  <td align="left"><code>GET</code></td>
  <td align="left">none</td>
  <td align="left"><pre>{
  "stable": "1.0",
  "beta": "1.1"
}</pre></td>
  <td align="left">最新的 iOS 客户端版本。</td>
</tr>

<tr>
  <td align="left">notice/</td>
  <td align="left"><code>GET</code></td>
  <td align="left">none</td>
  <td align="left"><pre>{
  "time": "2012-04-01 00:00:00",
  "content": "由于不可抗拒的因素，颐和园路5号将不再提供服务。"
}</pre></td>
  <td align="left">系统通知。</td>
</tr>

</tbody>
</table>

<hr />

<h2>/user/</h2>

<table>

<thead>
<tr>
<th align="left">Address</th>
<th align="left">Method</th>
<th align="left">Parameter</th>
<th align="left">Return</th>
<th align="left">Description</th>
</tr>
</thead>

<tbody> 

<tr>
  <td align="left">login/email/</td>
  <td align="left"><code>POST</code></td>
  <td align="left">
    <ul>
      <li><code class="required">str</code> email</li>
      <li><code class="required">str</code> password</li>
    </ul>
  </td>
  <td align="left">
    <ul>
      <li><code>0</code> success</li>
      <li><code>-1</code> authentication error</li>
      <li><code>-9</code> unknown error</li>
    </ul>
  </td>
  <td align="left">使用邮箱、密码方式登录。</td>
</tr>

<tr>
  <td align="left">login/weibo/</td>
  <td align="left"><code>POST</code></td>
  <td align="left">
    <ul>
      <li><code class="required">str</code> token</li>
    </ul>
  </td>
  <td align="left">
    <ul>
      <li><code>0</code> success</li>
      <li><code>-1</code> authentication error</li>
      <li><code>-9</code> unknown error</li>
    </ul>
  </td>
  <td align="left">使用新浪微博 token 登录。</td>
</tr>

</tbody>
</table>

<hr />

<h2>/university/</h2>

<table>

<thead>
<tr>
<th align="left">Address</th>
<th align="left">Method</th>
<th align="left">Parameter</th>
<th align="left">Return</th>
<th align="left">Description</th>
</tr>
</thead>

<tbody> 

<tr>
  <td align="left">list/</td>
  <td align="left"><code>GET</code></td>
  <td align="left">none</td>
  <td align="left"><pre>[
  {
    "id": 1,
    "name": "北京大学",
    "location":
    {
      "latitude": 116.301835, // E, N: positive; W, S: negative.
      "longitude": 39.971217
    }
  },
  {
    "id": 2,
    "name": "浙江大学",
    "location":
    {
      "latitude": 120.079928,
      "longitude": 30.314252
    }
  }
]</pre></td>
  <td align="left">返回支持的大学列表。</td>
</tr>

<tr>
  <td align="left">:id/</td>
  <td align="left"><code>GET</code></td>
  <td align="left">none</td>
  <td align="left"><pre>{
  "name": "浙江大学",
  "location":
  {
    "latitude": 120.079928,
    "longitude": 30.314252
  },
  "support":
  {
    "import_course": true,
    "list_course": true
  },
  "week":
  {
    "start": "2012-09-03", // 第一周周一的日期
    "end": "2013-01-06", // 最后一周周日的日期
    "excluded": [6, 7] // 不上课的周号
  },
  "lessons":
  {
    "count":
    {
      "total": 13,
      "morning": 5,
      "afternoon": 5,
      "evening": 3
    }
    "detail":
    [
      {
        "number": 1,
        "start": "08:00",
        "end": "08:45"
      },
      ...
      {
        "number": 13,
        "start": "20:10",
        "end": "20:55"
      }
    ]
  }
}</pre></td>
  <td align="left">返回 id 大学的详细信息。</td>
</tr>

</tbody>
</table>

<hr />

<h2>/course/</h2>

<table>

<thead>
<tr>
<th align="left">Address</th>
<th align="left">Method</th>
<th align="left">Parameter</th>
<th align="left">Return</th>
<th align="left">Description</th>
</tr>
</thead>

<tbody> 

<tr>
  <td align="left">list/</td>
  <td align="left"><code>GET*</code></td>
  <td align="left">none</td>
  <td align="left"><pre>[
  {
    "id": 650,
    "orig_id": "2011-325763QR",
    "name": "基于南北阁的 Web 应用开发",
    "credit": 2.5,
    "teacher":
    [
      "柳东原",
      "老大爷",
      "马儒潇"
    ],
    "ta":
    [
      "绿豆芽"
    ],
    weeks:
    [1, 3, 5, 7, 9, 11, 13, 15, 17], // 上课的周号
    "lessons":
    [
      {
        "day": 1,
        "start": 6,
        "end": 13,
        "location": "中湾国际"
      },
      {
        "day": 1,
        "start": 1,
        "end": 5,
        "location": "家中"
      },
      ...
    ]
  },
  ...
]</pre></td>
  <td align="left">返回当前用户的全部课程。<code>course_id</code> 为教务网课程编号。<code>lessons</code> 中，<code>day</code> 为在星期几上课（1-7），<code>start</code> 和 <code>end</code> 为起止节次。</td>
</tr>

<tr>
  <td align="left">assignment/list/</td>
  <td align="left"><code>GET*</code></td>
  <td align="left">none</td>
  <td align="left"><pre>[
  {
    "id": 11,
    "course_id": 65535,
    "due": "2012-07-07 08:00",
    "content": "配置服务器",
    "finished": true,
    "last_modified": "2012-07-07 23:59:59"
  },
  {
    "id": 14,
    "course_id": 65535,
    "due": "2012-07-10",
    "content": "完成 API 草案",
    "finished": false,
    "last_modified": "2012-07-08 16:00:19"
  }
]</pre></td>
  <td align="left">返回当前用户的全部作业。</td>
</tr>

<tr>
  <td align="left">assignment/:id/finish/</td>
  <td align="left"><code>POST*</code></td>
  <td align="left">
    <ul>
      <li><code class="optional">bool</code> finished</li>
    </ul>
  </td>
  <td align="left">
    <ul>
      <li><code>0</code> success</li>
      <li><code>-1</code> 作业不属于当前用户</li>
      <li><code>-9</code> error</li>
    </ul>
  </td>
  <td align="left">设置 id 作业的完成状态，默认为已完成。若 finished 为 false，设置为未完成。</td>
</tr>

<tr>
  <td align="left">assignment/:id/delete/</td>
  <td align="left"><code>POST*</code></td>
  <td align="left">none</td>
  <td align="left">
    <ul>
      <li><code>0</code> success</li>
      <li><code>-1</code> 作业不属于当前用户</li>
      <li><code>-9</code> error</li>
    </ul>
  </td>
  <td align="left">删除 id 作业。</td>
</tr>

<tr>
  <td align="left">assignment/:id/modify/</td>
  <td align="left"><code>POST*</code></td>
  <td align="left">
    <ul>
      <li><code class="optional">int</code> course_id</li>
      <li><code class="optional">time</code> due</li>
      <li><code class="optional">str</code> content</li>
      <li><code class="optional">bool</code> finished</li>
    </ul>
  </td>
  <td align="left">
    <ul>
      <li><code>0</code> success</li>
      <li><code>-1</code> 作业不属于当前用户</li>
      <li><code>-9</code> error</li>
    </ul>
  </td>
  <td align="left">修改 id 作业。</td>
</tr>

<tr>
  <td align="left">assignment/add/</td>
  <td align="left"><code>POST*</code></td>
  <td align="left">
    <ul>
      <li><code class="required">int</code> course_id</li>
      <li><code class="required">time</code> due</li>
      <li><code class="required">str</code> content</li>
    </ul>
  </td>
  <td align="left">
    <ul>
      <li><code>0</code> success</li>
      <li><code>-1</code> 作业不属于当前用户</li>
      <li><code>-9</code> error</li>
    </ul>
  </td>
  <td align="left">添加一项作业。</td>
</tr>

<tr>
  <td align="left">:id/comment/add/</td>
  <td align="left"><code>POST*</code></td>
  <td align="left">
    <ul>
      <li><code class="required">str</code> content</li>
    </ul>
  </td>
  <td align="left">
    <ul>
      <li><code>0</code> success</li>
      <li><code>-9</code> error</li>
    </ul>
  </td>
  <td align="left">在 id 课程下添加一条小话。</td>
</tr>

<tr>
  <td align="left">:id/comment/list/</td>
  <td align="left"><code>GET</code></td>
  <td align="left">
    <ul>
      <li><code class="optional">int</code> start</li>
    </ul>
  </td>
  <td align="left"><pre>[
  {
    "id": 2312,
    "writer":
    {
      "id": 1,
      "nickname": "Xhacker"
    },
    "time": "2012-07-08 19:03:30",
    "content": "试试小话功能。"
  },
  {
    "id": 2313,
    "writer":
    {
      "id": 79,
      "nickname": "Big Brother"
    },
    "time": "2012-07-08 19:03:31",
    "content": "我在看着你。"
  }
]</pre>
  </td>
  <td align="left">返回 id 课程最近 10 条小话，从第 <code>start</code> 条开始（默认为 0）。<br />若客户端在同一页面加载更多小话，须注意新的小话导致的重复。</td>
</tr>

</tbody>
</table>

<hr />

<h2>/comment/</h2>

<table>

<thead>
<tr>
<th align="left">Address</th>
<th align="left">Method</th>
<th align="left">Parameter</th>
<th align="left">Return</th>
<th align="left">Description</th>
</tr>
</thead>

<tbody> 

<tr>
  <td align="left">address/</td>
  <td align="left"><code>METHOD</code></td>
  <td align="left">parameter</td>
  <td align="left"><pre>{
  "miao": "mew"
}</pre></td>
  <td align="left">Some text.</td>
</tr>

</tbody>
</table>

<hr />

<h2>/study/</h2>

<table>

<thead>
<tr>
<th align="left">Address</th>
<th align="left">Method</th>
<th align="left">Parameter</th>
<th align="left">Return</th>
<th align="left">Description</th>
</tr>
</thead>

<tbody> 

<tr>
  <td align="left">building/list/</td>
  <td align="left"><code>GET</code></td>
  <td align="left">
    <ul><li><code class="required">int</code> university_id</li></ul>
  </td>
  <td align="left"><pre>[
  {
    "id": 17,
    "name": "东一教学楼"
    "latitude": 116.301835, // E, N: positive; W, S: negative.
    "longitude": 39.971217
  },
  {
    "id": 18,
    "name": "东二教学楼"
    "latitude": 116.301835, // E, N: positive; W, S: negative.
    "longitude": 39.971217
  },
  ...
]</pre></td>
  <td align="left">返回 university_id 学校有自习室的教学楼列表。</td>
</tr>

<tr>
  <td align="left">building/:id/room/list/</td>
  <td align="left"><code>GET</code></td>
  <td align="left"><code class="required">date</code> date</li></td>
  <td align="left"><pre>[
  {
    "id": 123,
    "name": "东一A 200",
    "availablity": true
  },
  {
    "id": 124,
    "name": "东一A 404",
    "availablity": true
  }
]</pre></td>
  <td align="left">返回 id 教学楼的自习室列表。</td>
</tr>

</tbody>
</table>

<hr />

<h2>/event/</h2>

<table>

<thead>
<tr>
<th align="left">Address</th>
<th align="left">Method</th>
<th align="left">Parameter</th>
<th align="left">Return</th>
<th align="left">Description</th>
</tr>
</thead>

<tbody>

<tr>
  <td align="left">query/</td>
  <td align="left"><code>GET</code></td>
  <td align="left">
    <ul>
      <li><code class="optional">str</code> keyword</li>
      <li><code class="optional">int</code> category_id</li>
      <li><code class="optional">time</code> after</li>
      <li><code class="optional">time</code> before</li>
      <li><code class="optional">int</code> start</li>
      <li><code class="optional">int</code> batch</li>
    </ul>
  </td>
  <td align="left"><pre>[
  {
    "id": 200,
    "title": "这是一个活动饭粒。",
    "subtitle": "这个活动没有任何意义。",
    "category_id": 2,
    "category_name": "聚餐",
    "time": "2012-07-13 19:00:00",
    "location": "随便",
    "follow_count": 16
  },
  {
    "id": 206,
    "title": "这是另一个活动饭粒。",
    "subtitle": "这个活动同样没有任何意义。",
    "category_id": 2,
    "category_name": "聚餐",
    "time": "2012-07-14 19:00:00", 
    "location": "随便",
    "follow_count": 32
  },
  ...
]
  </pre>
  </td>
</tr>
</tbody>
</table>
<pre>
查询
/event/query/		GET	查询活动
  * (optional)keyword: 关键词，留空返回全部活动
  * (optional)category: Category ID
  * (optional)after: 限定 time 在 after 之后，默认为当前时间
  * (optional)before: 限定 time 在 before 之前
  * (optional)start: 从满足以上全部条件的第 start 条开始返回，默认为 0
  * (optional)batch: 从 start 开始返回的条数，默认为 10
  返回：JSON 格式字典
    id, title, subtitle, category_id, category_name, time, location, follow_count

/event/category/ 	GET
  返回：JSON 格式字典
    id, name, count(在当前时间之后的活动数)

/event/get/		GET
  * (required)id: Activity ID
  返回：JSON 格式字典
    id, title, subtitle, category_id, category_name, time, location, organizer, content, follow_count(关注该活动的人数)


关注
/event/follow/	POST*
  * (required)id: Activity ID
  返回：整数值
    0: 关注成功
    404: 活动不存在
    -1: 其他错误

/event/following/	POST*
  返回：JSON 格式字典
    id, title, subtitle, category_id, category_name, time, location, follow_count
</pre>

<table>

<thead>
<tr>
<th align="left">Address</th>
<th align="left">Method</th>
<th align="left">Parameter</th>
<th align="left">Return</th>
<th align="left">Description</th>
</tr>
</thead>

<tbody> 

<tr>
  <td align="left">address/</td>
  <td align="left"><code>METHOD</code></td>
  <td align="left">
    <ul><li><code>int</code> university_id</li></ul>
  </td>
  <td align="left"><pre>{
  "miao": "mew"
}</pre></td>
  <td align="left">Some text.</td>
</tr>

</tbody>
</table>

<hr />

<h2>/wiki/</h2>

<table>

<thead>
<tr>
<th align="left">Address</th>
<th align="left">Method</th>
<th align="left">Parameter</th>
<th align="left">Return</th>
<th align="left">Description</th>
</tr>
</thead>

<tbody> 

<tr>
  <td align="left">list/:university_id/</td>
  <td align="left"><code>GET</code></td>
  <td align="left">none</td>
  <td align="left"><pre>[
  {
    "title": "校车信息",
    "node_id": 623
  },
  {
    "title": "校园新闻",
    "node_id": 625
  }
]</pre></td>
  <td align="left">返回 university_id 学校的自定义栏目列表。</td>
</tr>

<tr>
  <td align="left">node/:id/</td>
  <td align="left"><code>GET</code></td>
  <td align="left">none</td>
  <td align="left"><pre>{
  "title": "校车信息",
  "type": "list",
  "list":
  [
    {
      "title": "玉泉路校区",
      "node_id": 698
    },
    {
      "title": "紫金校区",
      "node_id": 701
    }
  ]
}</pre><pre>{
  "title": "玉泉路校区",
  "type": "article",
  "content": "&lt;p&gt;15 分钟一班。&lt;/p&gt;"
}</pre></td>
  <td align="left">返回 id 节点的内容（列表或文章）。</td>
</tr>

</tbody>
</table>

<br />

</body>
</html>
