<!doctype html>
<html>
<head>
<meta charset="utf-8">
<style>
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #666;
  margin: 10px 13px 10px 13px;
}
::selection {
  background: rgba(0,0,0,.7);
  color: #fff;
}
::-moz-selection {
  background: rgba(0,0,0,.7);
  color: #fff;
}
a {
  color: #0069d6;
}
a:hover {
  color: #0050a3;
  text-decoration: none;
}
a img {
  border: none;
}
p {
  margin-bottom: 9px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #6c71c4;
  line-height: 36px;
}
h1 {
  margin-bottom: 18px;
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 13px;
}
hr {
  margin: 0 0 19px;
  border: 0;
  border-bottom: 1px solid #ccc;
}
blockquote {
  padding: 13px 13px 21px 15px;
  margin-bottom: 18px;
  font-family:georgia,serif;
  font-style: italic;
}
blockquote:before {
  content:"\201C";
  font-size:40px;
  margin-left:-10px;
  font-family:georgia,serif;
  color:#eee;
}
blockquote p {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 0;
  font-style: italic;
}
code, pre {
  font-family: Monaco, Andale Mono, Courier New, monospace;
}
code {
  background-color: #fee9cc;
  color: rgba(0, 0, 0, 0.75);
  padding: 1px 3px;
  border-radius: 3px;
}
em {
  font-style: normal;
  font-weight: bold;
  color: #555;
  border-radius: 3px;
  background-color: #fffdf7;
}
pre {
  background-color: #fffdf7;
  display: block;
  padding: 14px;
  font-size: 12px;
  margin: 0 0 18px;
  line-height: 15px;
  border: 1px solid #d9d9d9;
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre code {
  background-color: transparent;
  color: #bc670f;
  font-size: 12px;
}
li {
  margin-bottom: 5px;
}
@media screen and (min-width: 940px) {
  body {
    width: 900px;
    margin:10px auto;
  }
}

td, th {
  vertical-align: top;
  padding: 2px 6px;
}
h2 {
  margin-bottom: 10px;
}
table ul {
  margin: 0;
  padding: 0 0 0 0;
  list-style-type: none;
}
.required {
  background-color: #ff8000;
  color: white;
}
.optional {
  background-color: #5fce04;
  color: white;
}

td:last-child {
  max-width: 300px;
}
</style>
<title>南北阁 API 草案</title>
</head>

<body>
<h1>南北阁 API 草案</h1>

<h2>API 版本：2</h2>

<pre style="line-height: 20px;"><code>GET*</code>, <code>POST*</code>: need login
<code class="required">data_type</code>: required parameter
<code class="optional">data_type</code>: optional parameter
</pre>

<hr />

<h2>数据类型</h2>

<ul>
  <li><code>bool</code> 1</li>
  <li><code>int</code> 31415926</li>
  <li><code>str</code> "this is a string"</li>
  <li><code>time</code> "2012-07-14 00:00:00"</li>
  <li><code>date</code> "2012-07-14"</li>  
</ul>

<hr />

<h2>HTTP 状态码</h2>

<ul>
  <li><code>200</code> 正常。</li>
  <li><code>400</code> 请求格式错误。</li>
  <li><code>401</code> 需要登录。</li>
  <li><code>403</code> 没有权限。（如修改他人的作业）</li>
  <li><code>404</code> 请求的资源不存在。</li>
  <li><code>418</code> 我是一只咖啡壶☆</li>  
</ul>

<hr />

<h2>/app</h2>

<table>

<thead>
<tr>
<th align="left">Address</th>
<th align="left">Method</th>
<th align="left">Parameter</th>
<th align="left">Return</th>
<th align="left">Description</th>
</tr>
</thead>

<tbody>

<tr>
  <td align="left">/version/api/</td>
  <td align="left"><code>GET</code></td>
  <td align="left">none</td>
  <td align="left"><pre>{
  "version": "9"
}</pre></td>
  <td align="left">API 版本。若大于客户端的 API 版本，须更新客户端。</td>
</tr>

<tr>
  <td align="left">/version/android/</td>
  <td align="left"><code>GET</code></td>
  <td align="left">none</td>
  <td align="left">
<pre>{
  "stable": "0.618",
  "beta": "0.619"
}</pre>
  </td>
  <td align="left">最新的 Android 客户端版本。</td>
</tr>

<tr>
  <td align="left">/version/ios/</td>
  <td align="left"><code>GET</code></td>
  <td align="left">none</td>
  <td align="left"><pre>{
  "stable": "1.0",
  "beta": "1.1"
}</pre></td>
  <td align="left">最新的 iOS 客户端版本。</td>
</tr>

<tr>
  <td align="left">/notice/</td>
  <td align="left"><code>GET</code></td>
  <td align="left">none</td>
  <td align="left"><pre>{
  "time": "2012-04-01 00:00:00",
  "content": "每人一台 MacBook Pro with Retina Display。"
}</pre></td>
  <td align="left">系统通知。</td>
</tr>

</tbody>
</table>

<hr />

<h2>/user</h2>

<table>

<thead>
<tr>
<th align="left">Address</th>
<th align="left">Method</th>
<th align="left">Parameter</th>
<th align="left">Return</th>
<th align="left">Description</th>
</tr>
</thead>

<tbody> 

<tr>
  <td align="left">/login/email/</td>
  <td align="left"><code>POST</code></td>
  <td align="left">
    <ul>
      <li><code class="required">str</code> email</li>
      <li><code class="required">str</code> password</li>
    </ul>
  </td>
  <td align="left"><pre>{
  "id": 0,
  "nickname": "塔"
}</pre><pre>{
  "error": "Email 或密码错误。"
}</pre>
  </td>
  <td align="left">使用邮箱、密码方式登录。</td>
</tr>

<tr>
  <td align="left">/login/weibo/</td>
  <td align="left"><code>POST</code></td>
  <td align="left">
    <ul>
      <li><code class="required">str</code> token</li>
    </ul>
  </td>
  <td align="left"><pre>{
  "id": 31415926,
  "nickname": null
}</pre><pre>{
  "error": "微博 token 错误。"
}</td>
  <td align="left">使用新浪微博 token 登录。若用户有 email 注册的南北阁帐号，nickname 为字符串。</td>
</tr>

</tbody>
</table>

<hr />

<h2>/university</h2>

<table>

<thead>
<tr>
<th align="left">Address</th>
<th align="left">Method</th>
<th align="left">Parameter</th>
<th align="left">Return</th>
<th align="left">Description</th>
</tr>
</thead>

<tbody> 

<tr>
  <td align="left">/</td>
  <td align="left"><code>GET</code></td>
  <td align="left">none</td>
  <td align="left"><pre>[
  {
    "id": 1,
    "name": "北京大学"
  },
  {
    "id": 2,
    "name": "浙江大学"
  }
]</pre></td>
  <td align="left">返回支持的大学列表。</td>
</tr>

<tr>
  <td align="left">/:id/</td>
  <td align="left"><code>GET</code></td>
  <td align="left">none</td>
  <td align="left"><pre>{
  "name": "浙江大学",
  "campuses":
  [
    {
      "name": "紫金港校区",
      "location": {
        "latitude": 120.079928,
        "longitude": 30.314252
      }
    },
    {
      "name": "玉泉校区",
      "location": {
        "latitude": 120.079928,
        "longitude": 30.314252
      }
    }
  ],
  "support":
  {
    "import_course": true,
    "list_course": true
  },
  "lessons":
  {
    "count":
    {
      "total": 13,
      "morning": 5,
      "afternoon": 5,
      "evening": 3
    }
    "detail":
    [
      {
        "number": 1,
        "start": "08:00",
        "end": "08:45"
      },
      ...
      {
        "number": 13,
        "start": "20:10",
        "end": "20:55"
      }
    ],
    "separators": [2, 4, 5, 6, 8, 10, 12]
  }
}</pre></td>
  <td align="left">返回 <code>id</code> 大学的详细信息。若只有一个校区，campus 的 name 为空。</td>
</tr>

<tr>
  <td align="left">/:id/semester/</td>
  <td align="left"><code>GET</code></td>
  <td align="left">none</td>
  <td align="left"><pre>[
  {
    "id": 1,
    "name": "秋冬学期",
    "year": "2011-2012",
    "week":
    {
      "start": "2012-01-01", // 第一周周一的日期
      "end": "2012-06-06", // 最后一周周日的日期
      "excluded": [6, 7] // 不上课的周号
    }
  },
  {
    "id": 2,
    "name": "春夏学期",
    "year": "2012-2013",
    "week":
    {
      "start": "2012-09-03", // 第一周周一的日期
      "end": "2013-01-06", // 最后一周周日的日期
      "excluded": [6, 7] // 不上课的周号
    }
  }
]</pre></td>
  <td align="left">返回 <code>id</code> 大学的学期列表。</td>
</tr>

</tbody>
</table>

<hr />

<h2>/course</h2>

<table>

<thead>
<tr>
<th align="left">Address</th>
<th align="left">Method</th>
<th align="left">Parameter</th>
<th align="left">Return</th>
<th align="left">Description</th>
</tr>
</thead>

<tbody> 

<tr>
  <td align="left">/</td>
  <td align="left"><code>GET*</code></td>
  <td align="left">none</td>
  <td align="left"><pre>[
  {
    "id": 650,
    "orig_id": "2011-325763QR",
    "name": "21天精通阿拉伯语（变态冲刺班）",
    "credit": 2.5,
    "teacher":
    [
      "张塔",
      "ZHANG Ta"
    ],
    "ta":
    [
      "塔"
    ],
    "semester_id": 2,
    "weeks": [1, 3, 5, 7, 9, 11, 13, 15, 17], // 上课的周号
    "lessons":
    [
      {
        "day": 5,
        "start": 1,
        "end": 2,
        "location": "牛街清真寺广场"
      },
      {
        "day": 1,
        "start": 1,
        "end": 5,
        "location": "张塔家中"
      },
      ...
    ]
  },
  ...
]</pre></td>
  <td align="left">返回当前用户的全部课程。<code>course_id</code> 为教务网课程编号。<code>lessons</code> 中，<code>day</code> 为在星期几上课（1-7），<code>start</code> 和 <code>end</code> 为起止节次。</td>
</tr>

<tr>
  <td align="left">/assignment/</td>
  <td align="left"><code>GET*</code></td>
  <td align="left">none</td>
  <td align="left"><pre>[
  {
    "id": 11,
    "course_id": 65535,
    "due": "2012-07-07 08:00",
    "content": "配置服务器",
    "finished": true,
    "last_modified": "2012-07-07 23:59:59"
  },
  {
    "id": 14,
    "course_id": 65535,
    "due": "2012-07-10",
    "content": "完成 API 草案",
    "finished": false,
    "last_modified": "2012-07-08 16:00:19"
  }
]</pre></td>
  <td align="left">返回当前用户的全部作业。</td>
</tr>

<tr>
  <td align="left">/assignment/:id/finish/</td>
  <td align="left"><code>POST*</code></td>
  <td align="left">
    <ul>
      <li><code class="optional">bool</code> finished</li>
    </ul>
  </td>
  <td align="left">
    <ul>
      <li><code>0</code> success</li>
    </ul>
    <pre>{
  "error": "作业不存在。"
}</pre>
  </td>
  <td align="left">设置 <code>id</code> 作业的完成状态，默认为已完成。若 <code>finished</code> 为 0，设置为未完成。</td>
</tr>

<tr>
  <td align="left">/assignment/:id/delete/</td>
  <td align="left"><code>POST*</code></td>
  <td align="left">none</td>
  <td align="left">
    <ul>
      <li><code>0</code> success</li>
    </ul>
    <pre>{
  "error": "作业不属于当前用户。"
}</pre>
  </td>
  <td align="left">删除 <code>id</code> 作业。</td>
</tr>

<tr>
  <td align="left">/assignment/:id/modify/</td>
  <td align="left"><code>POST*</code></td>
  <td align="left">
    <ul>
      <li><code class="optional">int</code> course_id</li>
      <li><code class="optional">time</code> due</li>
      <li><code class="optional">str</code> content</li>
      <li><code class="optional">bool</code> finished</li>
    </ul>
  </td>
  <td align="left">
    <ul>
      <li><code>0</code> success</li>
    </ul>
    <pre>{
  "error": "截止日期格式错误。"
}</pre>
  </td>
  <td align="left">修改 <code>id</code> 作业。</td>
</tr>

<tr>
  <td align="left">/assignment/add/</td>
  <td align="left"><code>POST*</code></td>
  <td align="left">
    <ul>
      <li><code class="required">int</code> course_id</li>
      <li><code class="required">time</code> due</li>
      <li><code class="required">str</code> content</li>
    </ul>
  </td>
  <td align="left">
    <pre>{
  "id": 8
}</pre>
    <pre>{
  "error": "请先登录。"
}</pre>
  </td>
  <td align="left">添加一项作业，返回添加的作业 id。</td>
</tr>

<tr>
  <td align="left">/:id/comment/</td>
  <td align="left"><code>GET</code></td>
  <td align="left">
    <ul>
      <li><code class="optional">int</code> start</li>
    </ul>
  </td>
  <td align="left"><pre>[
  {
    "id": 2312,
    "writer":
    {
      "id": 1,
      "nickname": "Xhacker"
    },
    "time": "2012-07-08 19:03:30",
    "content": "试试小话功能。"
  },
  {
    "id": 2313,
    "writer":
    {
      "id": 79,
      "nickname": "Big Brother"
    },
    "time": "2012-07-08 19:03:31",
    "content": "我在看着你。"
  }
]</pre>
  </td>
  <td align="left">返回 <code>id</code> 课程最近 10 条小话，从第 <code>start</code> 条开始（默认为 0）。<br />若客户端在同一页面加载更多小话，须注意新的小话导致的重复。</td>
</tr>

<tr>
  <td align="left">/:id/comment/add/</td>
  <td align="left"><code>POST*</code></td>
  <td align="left">
    <ul>
      <li><code class="required">str</code> content</li>
    </ul>
  </td>
  <td align="left">
    <ul>
      <li><code>0</code> success</li>
    </ul>
    <pre>{
  "error": "请先登录。"
}</pre>
  </td>
  <td align="left">在 <code>id</code> 课程下添加一条小话。</td>
</tr>

</tbody>
</table>

<hr />

<h2>/comment</h2>

<table>

<thead>
<tr>
<th align="left">Address</th>
<th align="left">Method</th>
<th align="left">Parameter</th>
<th align="left">Return</th>
<th align="left">Description</th>
</tr>
</thead>

<tbody> 

<tr>
  <td align="left">/</td>
  <td align="left"><code>GET*</code></td>
  <td align="left">
    <ul>
      <li><code class="optional">int</code> start</li>
    </ul>
  </td>
  <td align="left"><pre>[
  {
    "id": 2312,
    "writer":
    {
      "id": 1,
      "nickname": "Xhacker"
    },
    "time": "2012-07-08 19:03:30",
    "content": "试试小话功能。",
    "course": {
      "id": 4,
      "name": "21天精通阿拉伯语（变态冲刺班）"
    }
  },
  {
    "id": 2313,
    "writer":
    {
      "id": 79,
      "nickname": "Big Brother"
    },
    "time": "2012-07-08 19:03:31",
    "content": "我在看着你。",
    "course": {
      "id": 2,
      "name": "马克思主义哲学原理"
    }
  }
]</pre></td>
  <td align="left">返回当前用户全部所选课程最近 10 条小话，从第 <code>start</code> 条开始（默认为 0）。<br />若客户端在同一页面加载更多小话，须注意新的小话导致的重复。</td>
</tr>

</tbody>
</table>

<hr />

<h2>/study</h2>

<table>

<thead>
<tr>
<th align="left">Address</th>
<th align="left">Method</th>
<th align="left">Parameter</th>
<th align="left">Return</th>
<th align="left">Description</th>
</tr>
</thead>

<tbody> 

<tr>
  <td align="left">/building/</td>
  <td align="left"><code>GET</code></td>
  <td align="left">
    <ul><li><code class="required">int</code> university_id</li></ul>
  </td>
  <td align="left"><pre>[
  {
    "id": 17,
    "name": "东一教学楼",
    "location": {
      "latitude": 116.301835,
      "longitude": 39.971217
    }
  },
  {
    "id": 18,
    "name": "东二教学楼",
    "location": {
      "latitude": 116.301835,
      "longitude": 39.971217
    }
  },
  ...
]</pre></td>
  <td align="left">返回 <code>university_id</code> 学校有自习室的教学楼列表。</td>
</tr>

<tr>
  <td align="left">/building/:id/room/</td>
  <td align="left"><code>GET</code></td>
  <td align="left"><code class="optional">date</code> date</li></td>
  <td align="left"><pre>[
  {
    "id": 123,
    "name": "东一A 200",
    "availablity": [true, true, true, true, true, true, true, true, true, true]
  },
  {
    "id": 124,
    "name": "东一A 404",
    "availablity": [] // 该教室没有可用信息
  }
]</pre></td>
  <td align="left">返回 <code>id</code> 教学楼 <code>date</code> 日期（默认为今天）的自习室列表。</td>
</tr>

</tbody>
</table>

<hr />

<h2>/event</h2>

<table>

<thead>
<tr>
<th align="left">Address</th>
<th align="left">Method</th>
<th align="left">Parameter</th>
<th align="left">Return</th>
<th align="left">Description</th>
</tr>
</thead>

<tbody>

<tr>
  <td align="left">/</td>
  <td align="left"><code>GET</code></td>
  <td align="left">
    <ul>
      <li><code class="optional">str</code> keyword</li>
      <li><code class="optional">int</code> category_id</li>
      <li><code class="optional">time</code> after</li>
      <li><code class="optional">time</code> before</li>
      <li><code class="optional">int</code> start</li>
    </ul>
  </td>
  <td align="left"><pre>[
  {
    "id": 200,
    "title": "这是一个活动饭粒。",
    "subtitle": "这个活动没有任何意义。",
    "category": {
      "id": 2,
      "name": "聚餐",
    },
    "time": "2012-07-13 19:00:00",
    "location": "随便",
    "follow_count": 16
  },
  {
    "id": 206,
    "title": "这是另一个活动饭粒。",
    "subtitle": "这个活动同样没有任何意义。",
    "category": {
      "id": 2,
      "name": "聚餐",
    },
    "time": "2012-07-14 19:00:00", 
    "location": "随便",
    "follow_count": 32
  }
]</pre>
  </td>
  <td align="left">查询含有关键词 <code>keyword</code>，在 <code>after</code> （默认为现在）之后、<code>before</code>（默认为宇宙的尽头）之前的活动。返回从第 <code>start</code>（默认为 0）开始的 10 条。</td>
</tr>
<tr>
  <td align="left">/category/</td>
  <td align="left"><code>GET</code></td>
  <td align="left">none</td>
  <td align="left"><pre>[
  {
    "id": 1,
    "name": "聚餐",
    "count": 32
  },
  {
    "id": 2,
    "name": "吃饭",
    "count": 16
  }
]</pre>
  </td>
  <td align="left">返回活动分类列表。
  </td>
</tr>
<tr>
  <td align="left">/:id/</td>
  <td align="left"><code>GET</code></td>
  <td align="left">none</td>
  <td align="left"><pre>{
  "id": 2,
  "title": "周末聚餐",
  "subtitle": "全聚德吃北京烤鸭",
  "category": {
    "id": 1,
    "name": "聚餐"
  },
  "organizer": "王昊尘",
  "location": "北京前门",
  "content": "能去的都去阿！",
  "follower_count": 5
}</pre>
  </td>
  <td align="left">返回 <code>id</code> 活动。</td>
</tr>
<tr>
  <td align="left">/:id/follow/</td>
  <td align="left"><code>POST*</code></td>
  <td align="left">none</td>
  <td align="left">
    <ul>
      <li><code>0</code> success</li>
    </ul>
    <pre>{
  "error": "活动不存在。"
}</pre></td>
  <td align="left">关注 <code>id</code> 活动。</td>
</tr>
<tr>
  <td align="left">/following/</td>
  <td align="left"><code>GET*</code></td>
  <td align="left">none</td>
  <td align="left"><pre>[
  {
    "id": 2,
    "title": "周末聚餐",
    "subtitle": "全聚德吃北京烤鸭",
    "category": {
      "id": 1,
      "name": "聚餐"
    },
    "organizer": "王昊尘",
    "location": "北京前门",
    "content": "能去的都去阿！",
    "follower_count": 5
  },
  {
    "id": 3,
    "title": "吃遍上海",
    "subtitle": "上海小吃游",
    "category": {
      "id": 1,
      "name": "聚餐"
    },
    "organizer": "张塔",
    "location": "城隍庙",
    "content": "吃货集会！",
    "follower_count": 3
  },
]</pre></td>
  <td align="left">返回当前用户关注的活动列表。</td>
</tr>
</tbody>
</table>

<hr />

<h2>/wiki</h2>

<table>

<thead>
<tr>
<th align="left">Address</th>
<th align="left">Method</th>
<th align="left">Parameter</th>
<th align="left">Return</th>
<th align="left">Description</th>
</tr>
</thead>

<tbody> 

<tr>
  <td align="left">/:id/</td>
  <td align="left"><code>GET</code></td>
  <td align="left">none</td>
  <td align="left"><pre>[
  {
    "title": "校车信息",
    "node_id": 623
  },
  {
    "title": "校园新闻",
    "node_id": 625
  }
]</pre></td>
  <td align="left">返回 <code>id</code> 学校的自定义栏目列表。</td>
</tr>

<tr>
  <td align="left">/node/:id/</td>
  <td align="left"><code>GET</code></td>
  <td align="left">none</td>
  <td align="left"><pre>{
  "title": "校车信息",
  "type": "L",
  "list":
  [
    {
      "title": "玉泉路校区",
      "node_id": 698
    },
    {
      "title": "紫金校区",
      "node_id": 701
    }
  ]
}</pre><pre>{
  "title": "玉泉路校区",
  "type": "A",
  "content": "&lt;p&gt;15 分钟一班。&lt;/p&gt;"
}</pre></td>
  <td align="left">返回 <code>id</code> 节点的内容（列表或文章）。</td>
</tr>

</tbody>
</table>

<br />

</body>
</html>
